#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Trello
Exec=/usr/bin/chromium-browser --app={{ trello_username is defined | ternary("https://trello.com/{{ trello_username }}/cards", "https://trello.com/") }}
Icon=chrome-oflhioojkbelepjlnafgmgkkjhojphcg-Default
StartupWMClass=trello.com
