#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Trello
{% if trello_username is defined %}
Exec=/usr/bin/chromium-browser --app=https://trello.com/{{ trello_username }}/cards
{% else %}
Exec=/usr/bin/chromium-browser --app=https://trello.com/
{% endif %}
Icon=chrome-oflhioojkbelepjlnafgmgkkjhojphcg-Default
StartupWMClass=trello.com__simondubois_cards
