#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/usr/bin/chromium-browser --app=https://mail.google.com/
Icon=gmail
StartupWMClass=mail.google.com
